<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
  <%- include ('../layout/head.ejs') %>
</head>
<body>
<%- include ('../layout/header.ejs') %>
<main>
  <%- include ('../chunks/index/_hero.ejs') %>
</main>
<%- include ('../layout/footer.ejs') %>
<%- include ('../layout/scripts.ejs') %>
</body>
</html>