<!DOCTYPE HTML>
<html lang="en"
      dir="ltr">
<%- include ('../layout/head.ejs') %>
<body>
    <%- include ('../layout/header.ejs') %>
    <main>
        <%- include ('../partials/index/_hero.ejs') %>
    </main>
    <%- include ('../layout/footer.ejs') %>
    <%- include ('../layout/scripts.ejs') %>
</body>
</html>